@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}