//fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rouge+Script&family=Waterfall&family=Zen+Kaku+Gothic+Antique&display=swap');

$mainfont: 'Raleway', sans-serif;
$curtwo: 'Waterfall', cursive;
$fonttwo: 'Rouge Script', cursive;
$fontone: 'Zen Kaku Gothic Antique', sans-serif;


//colors
$orange: rgb(214, 104, 1);
$lighto: rgb(253, 156, 66);
$oraopae: rgba(214, 104, 1, 0.486);
$darko: rgba(158, 76, 0, 0.849);
$brown:rgb(90, 42, 2);
$broopa:rgba(90, 42, 2, 0.788);
$darkb:rgb(54, 25, 0);
$wheat: wheat;
$wheopa: rgba(245, 222, 179, 0.493);
$paleyellow : #efe6af;
$white: white;
$gray: rgb(230, 222, 218);